:root {
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --title-text-color: #5b6460;
  --read-more-text-color: #5b6460;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #5b6460;
  --third-bg-color: #e9ece0;
  --accent-color: #ff0505;
  --primary-btn-color: #5b6460;
  --secondary-btn-color: #979797;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--primary-text-color);
  background-color: #fff;
}

.container {
  width: 1408px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 146px;
  padding-right: 34px;
}

.btn {
  padding: 16px 60px;
  border: 1px solid transparent;

  font-family: inherit;
  display: inline-block;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.text-read-more {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  color: var(--read-more-text-color);
}

.facilities-text::before {
  display: block;
  content: "";
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* ------------------HEADER------------------------ */

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  padding-top: 18px;
  padding-bottom: 17px;
}

.header-list {
  display: flex;
  align-items: center;
  margin: auto;
}

.header-item:not(:last-child) {
  margin-right: 36px;
}

.header-link {
  /* display: block; */
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {
  color: #ff0505;
}

.header-btn {
  background-color: var(--primary-btn-color);
  color: var(--secondary-text-color);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--secondary-btn-color);
  color: var(--primary-text-color);
}

/* --------------------HERO---------------------- */
.hero {
  padding-top: 95px;
  padding-bottom: 415px;

  max-width: 1408px;
  min-height: 700px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/house.jpg);
  background-color: var(--secondary-btn-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 70px;
  line-height: 1.03;

  text-align: right;
  padding-right: 70px;
  color: var(--secondary-text-color);
}

.hero-container-text {
  width: 500px;
  padding-right: 154px;
  margin-top: 34px;
  margin-left: auto;
}

.hero-text {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;

  text-align: center;
  color: var(--secondary-text-color);
}

/* ----------------CABINS--------------------- */

.cabins {
  padding-top: 146px;
}

.cabins-container {
  display: flex;
}

.cabins-left {
  margin-right: 73px;
  padding-top: 87px;
}

.cabins-title {
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: var(--title-text-color);
}

.cabins-text {
  margin-bottom: 22px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.87;
}

/* -------------------GALLERY--------------------- */
.gallery {
  padding-top: 146px;
  display: flex;
  justify-content: space-around;
}

/* ----------------------MAP---------------------- */
.map {
  padding-top: 146px;
  display: flex;
  justify-content: space-between;
}

.map-left {
  width: 650px;
  flex-basis: calc(100% / 2);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/map2.jpg);
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.map-svg {
  display: block;

  text-align: center;
  margin-top: 226px;
  margin-left: 265px;
}

.map-right {
  flex-basis: calc(100% / 2);
  padding: 150px 129px 149px 110px;

  background-color: var(--third-bg-color);
}

.map-title {
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #5b6460;
}

.map-text {
  margin-bottom: 22px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.87;

  color: #333333;
}

/* --------------FASILITIES------------ */
.facilities {
  padding: 150px 290px 126px;
  background-color: var(--secondary-bg-color);
}

.facilities-title {
  margin-bottom: 100px;

  font-weight: 300;
  font-size: 40px;
  line-height: 1;
  text-align: center;

  color: var(--secondary-text-color);
}

.facilities-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin-left: -130px;
  margin-top: -130px;
}

.facilities-item {
  align-items: flex-start;
  flex-basis: calc(100% / 4 - 130px);
  margin-left: 130px;
  margin-top: 130px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;

  color: var(--secondary-text-color);
}

.fridge::before {
  background-image: url(../images/1.svg);
}

.kitchenette::before {
  background-image: url(../images/2.svg);
}

.coffee::before {
  background-image: url(../images/3.svg);
}

.kettle::before {
  background-image: url(../images/4.svg);
}

.parking::before {
  background-image: url(../images/5.svg);
}

.views::before {
  background-image: url(../images/6.svg);
}

.floor-heating::before {
  background-image: url(../images/7.svg);
}

.electro::before {
  background-image: url(../images/8.svg);
}

.wifi::before {
  background-image: url(../images/9.svg);
}

.shower::before {
  background-image: url(../images/10.svg);
}

.toilets::before {
  background-image: url(../images/11.svg);
}

.towels::before {
  background-image: url(../images/12.svg);
}

/* -----------------PHOTO------------------- */

.photo {
  display: flex;
  padding-bottom: 150px;
}

/* ----------------CONTACTS---------------- */

.contacts {
  padding-bottom: 133px;
}

.contacts-container {
  display: flex;
}

.contacts-left {
  width: 385px;
  margin-right: 345px;
}

.contacts-title {
  margin-bottom: 50px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;

  color: var(--title-text-color);
}

.contacts-address {
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.87;
}

.contacts-address-list {
  margin-bottom: 50px;
}

.contacts-address-link {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

.contacts-social-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  /* justify-content: space-between; */
  align-items: center;
  width: 50px;
  height: 50px;
}

.contacts-social-item {
  width: 50px;
  height: 50px;
}

.contacts-social-item:not(:last-child) {
  margin-right: 43px;
}

.contacts-social-link {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  color: #ffffff;
  background-color: var(--primary-btn-color);
}

.contacts-social-link:hover,
.contacts-social-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.contacts-social-icon {
  width: 21px;
  height: 21px;
  margin: 14px 0px 0px 14px;
  fill: currentColor;
}
